
/* 2 × 2 Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Product Card */
.Card {
  border: 2px solid #e9b2b2;
  padding: 20px;
  border-radius: 8px;
  background-color: #171817;
  text-align: center;
}

/* Default Button */
.add-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Button After Click */
.added-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover,
.added-btn:hover {
  opacity: 0.9;
}

.remove-btn {
  background-color: crimson;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}